@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');


* {
  font-family: 'Birthstone', cursive;
}


body {
  /* 1,2,3,4  can be used to change the images*/
  background: #222 url('images/6.jpeg') center center no-repeat;
   /*  */
  background-size: cover;
  height: 100%;
}

.reveal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  color: wheat;
}

.form-control,
.form-select {
  font-size: 1.5rem;
}

.elements {
  margin: 20% 20% 40px;
}

#cover {
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

h3 {
  color: red;
}

.chartdiv {
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: -999;
  pointer-events: none;
  top: 0rem;
  /* left: 20rem; */
}

/* only used for background overlay not needed for centering */
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  border-radius: 10px;
}

.submitButton {
  margin: 30px 0 0 0;
}

.display-4 {
  font-size: 4rem;
  letter-spacing: 2px;
}

label {
  font-size: 2rem;
  letter-spacing: 2px;
}

input {
  font-size: 1.6rem;
}

.navigation {
  position: absolute;
  z-index: 999;
  list-style: none;
  font-size: 2rem;
}

.master-passcode {
  margin: 0 auto !important;
  width: 20rem;
}